/***************/
/*  INDEX.HTML */
/***************/

/* Jumbotron */

nav ul li a{
    color: #1caa91;
}

.jumbotron{
    background: url(../img/site_showcase_bg.jpg) no-repeat top center;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    height: 500px;
}

.jumbotron h1,
.jumbotron p{
    text-align: center
}

.jumbotron h1{
    font-weight: bold;
    padding-top: 50px;
}

.jumbotron h1 span{
    color: #1caa91;
}

.jumbotron p{
    font-size: 15px;
    font-weight: bold;
}

.jumbotron a:link{
    text-decoration: none;
}

.jumbotron img{
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

/* Demo */

.demo h2{
    font-weight: bold;
}

.demo .read-more{
    padding-bottom: 15px;
}

/* Feature */

.features{
    background-color: #1caa91;
}

.features h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.features ul{
    display: block;
    list-style: none;
    padding: 0;
}

.features ul li{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 0;
}

.features img{
    display: block;
    margin: 0 auto;
}


/* Footer */


footer{
    background-color: #000000;
}

footer ul{
    list-style: none;
    margin: 5px 0;
}

footer ul li{
    display: inline;
    padding: 0 5px;
}

footer ul li a:link{
    text-decoration: none;
    color: #ffffff;
}

footer p{
    color: #ffffff;
    text-align: center;
}

/***************/
/*  ABOUT.HTML */
/***************/
header{
    background-color: #1caa91;
}

header h1{
    color: #ffffff;
    font-weight: bold;
}



@media(min-width: 768px){

    .demo img{
        display: block;
        margin: 0 auto;
    }

    .main img{
        display: block;
        margin: 0 auto;        
    }

    footer p{
        margin: 5px 0;
    }
}

@media(min-width: 1024px){
    
    .jumbotron img{
        width: 200px;
    }

    .jumbotron .phone-image{
        width: 327px;
    }

}

@media(min-width: 1200px){
    
    footer p{
        margin: 5px 0;
    }
}